<p>
  A new bug has been assigned to you in Bugzilla.
</p>

<p>
  <strong>Title:</strong> <%= @bug.name %><br>
  <strong>Description:</strong> <%= @bug.description %>
</p>

<p>
  Please log in to Bugzilla to view more details.
</p>
